<ion-header>
  <ion-toolbar>
    <ion-title>Referencias Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Srta. Elizabeth Anzules Arevalo</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        Teléfono: 0996309156
      </ion-col>
    </ion-row>

    <h2>Tnlga. Lorena Vacacela – Full Alimentos </h2>
    <ion-row>
      <ion-col>
        Teléfono: 2183203
      </ion-col>
    </ion-row>

    <h2>Ing. Carlos Cuviña</h2>
    <ion-row>
      <ion-col>
        Teléfono: 0981929418
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>