ion-conten{
    text-align: center;
}
ion-col{
    text-align: center;
}
h1, h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    
}

ion-grid{
    text-align: center;
}