<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Ashley Nataly Cárdenas Vacacela </h1>
    <ion-row>
    <ion-col>
      Dirección: Cápitan Nájera 4019 y la 13ava
    </ion-col>
    <ion-col>
      Teléfono: 0987541228/042460192
    </ion-col>
    <ion-col>
      Email: natalyc17@hotmail.com
    </ion-col>
  </ion-row>

    <h2> Datos Personales</h2>
        <ion-grid>
        <ion-col>
          Lugar de nacimiento: Guayaquil
        </ion-col>

        <ion-row>
          <ion-col>
            Fecha de nacimiento: 03/03/2000
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col>
          Cédula: 0951405844
        </ion-col>
      </ion-row>

    <ion-row>
        <ion-col>
          Estado Civil: Soltera
        </ion-col>
      </ion-row>

    <ion-row>
        <ion-col>
          Nacionalidad: Ecuatoriana
        </ion-col>
      </ion-row>

    
      

      </ion-grid>
  </ion-content>

  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
